form{
    background-image: linear-gradient(to bottom right,#0891b2,#0e7490,#155e75,#164e63);
    border-radius: 15px;
    box-shadow: 5px 5px 10px #064e3b;
    margin: 0 auto;
    margin-top: 5%; 
    width:80%;
}
.formblock input{
    height:4rem;
    font-size: 1.5rem;
    border-radius: 10px;
}
.formblock textarea{
    height:8rem;
    font-size: 1rem;
    border-radius: 10px;
}

.formfield{
    width: 90%;
    margin: 2%;
}
#spacer{
    margin-top:12%;
}
.submit{
    background-color:#2563eb;
  color:#ecfeff;
  width: 25vw;
  height: 5vw;
  font-size: 2vw;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #0f172a;
  
}
.success-message{
    font-size: 2rem;
    margin: 0;
}
.error-message{
    color:red;
}
@media only screen and (max-width: 700px) {
    form{
        height: 100%;
        margin: 0 auto;
        padding-bottom: 10%;
        width:80%;
    }
    .formblock input{
        height:4rem;
        font-size: 1.5rem;
        border-radius: 10px;
    }
    .formblock textarea{
        height: 20rem;
        font-size: 2rem;
        border-radius: 10px;
        width: 90%;
    }
    .submit{
        width: 60vw;
        height: 15vw;
        font-size: 8vw;
    }
}