.hero{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.hero img{
    width:50%;
    
}
.hero span{
    width:50%;
    margin: 0 auto;
    height: 100%;
    text-align: left;
    padding-top: 10%;
    padding-left:5%
}
@media screen and (max-width:700px){
    .hero{
        flex-direction: column;
    }
    .hero img{
        width:100%;
        
    }
    .hero span{
        width:100%;
        justify-content: center;
        height: 100%;
        text-align: center;
        padding-top: 10%;
        padding-left: 0;
    }
    .hero h2{
        font-size: 15px;
    }
}