nav{
    position: relative;
    display: flex;
    flex-direction: row;
    height:50px;
}
nav > img{
    position: absolute;
    top:20%;
    left:5px;
    max-width:150px;
    width: 25%;
}
nav > ul {
    position: absolute;
    right: 15%;
    top: 0%;
    display: flex;
    font-size: 2rem;
    margin: unset;
   

}
a:link{
    text-decoration: none;
}
li {
    margin:10%;
    text-decoration: none;
    list-style: none;
}
@media only screen and (max-width: 700px) {
    nav > ul {
        position: absolute;
        right: 15%;
        top:10%;
        display: flex;
        font-size: 1.5rem;
        text-decoration: none;
        
    
    }
}

