.social{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    padding: 0;
    background-image: linear-gradient(to bottom right,#64748b,#475569,#334155,#1e293b);
    box-shadow: 5px 5px 10px #0f172a;
    border-radius: 10px;
}
.social img{
    width:5vw;
    height:50px;
}
.social a{
    margin: 2%;
}
.footer{
    margin-top: 5%;
}
.sqr-icon{
    border-radius: 15px;
}
.copyright{

}
@media only screen and (max-width: 700px) {
    .social{
        width: 100%;
       
    }
    .social img{
        width: 15vw;
        height:50px;
    }
    .social a{
        margin: 2%;
    }
    .copyright{
        font-size:15px;
    }
}