.App {
  text-align: center;
}

.header{
  font-size: 5vw;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p,a,li,h1,h2,h3,h4,span{
  color:#ecfeff;
}

button{
  background-color:#2563eb;
  color:#ecfeff;
  width: 25vw;
  height: 5vw;
  font-size: 2vw;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #0f172a;
}
p{
  text-indent:40px
}
@media screen and (max-width:700px){
  
  .header{
    font-size: 8vw;
    width: 110%;
  }
  button{
    width: 67vw;
    height: 16vw;
    font-size: 6vw;
  }
}